@font-face {
    font-family: "Aspekta";
    font-weight: 350;
    font-style: normal;
    font-display: fallback;
    src: url(fonts/Aspekta-350.woff2)format("woff2")
}

@font-face {
    font-family: "Aspekta";
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
    src: url(fonts/Aspekta-400.woff2)format("woff2")
}

@font-face {
    font-family: "Aspekta";
    font-weight: 450;
    font-style: normal;
    font-display: fallback;
    src: url(fonts/Aspekta-450.woff2)format("woff2")
}

@font-face {
    font-family: "Aspekta";
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
    src: url(fonts/Aspekta-500.woff2)format("woff2")
}

@font-face {
    font-family: "Aspekta";
    font-weight: 550;
    font-style: normal;
    font-display: fallback;
    src: url(fonts/Aspekta-550.woff2)format("woff2")
}

@font-face {
    font-family: "Aspekta";
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
    src: url(fonts/Aspekta-700.woff2)format("woff2")
}

*,::before,::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb
}

::before,::after {
    --tw-content: ''
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}

body {
    margin: 0;
    line-height: inherit
}

hr {
    height: 0;
    color: inherit;
    border-top-width: 1px
}

abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: inherit
}

a {
    color: inherit;
    text-decoration: inherit
}

b,strong {
    font-weight: bolder
}

code,kbd,samp,pre {
    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -0.25em
}

sup {
    top: -0.5em
}

table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse
}

button,input,optgroup,select,textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0
}

button,select {
    text-transform: none
}

button,[type="button"],[type="reset"],[type="submit"] {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none
}

:-moz-focusring {
    outline: auto
}

:-moz-ui-invalid {
    box-shadow: none
}

progress {
    vertical-align: baseline
}

::-webkit-inner-spin-button,::-webkit-outer-spin-button {
    height: auto
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

summary {
    display: list-item
}

blockquote,dl,dd,h1,h2,h3,h4,h5,h6,hr,figure,p,pre {
    margin: 0
}

fieldset {
    margin: 0;
    padding: 0
}

legend {
    padding: 0
}

ol,ul,menu {
    list-style: none;
    margin: 0;
    padding: 0
}

textarea {
    resize: vertical
}

input::-moz-placeholder,textarea::-moz-placeholder {
    opacity: 1;
    color: #9ca3af
}

input:-ms-input-placeholder,textarea:-ms-input-placeholder {
    opacity: 1;
    color: #9ca3af
}

input::placeholder,textarea::placeholder {
    opacity: 1;
    color: #9ca3af
}

button,[role="button"] {
    cursor: pointer
}

:disabled {
    cursor: default
}

img,svg,video,canvas,audio,iframe,embed,object {
    display: block;
    vertical-align: middle
}

img,video {
    max-width: 100%;
    height: auto
}

[type="text"],[type="email"],[type="url"],[type="password"],[type="number"],[type="date"],[type="datetime-local"],[type="month"],[type="search"],[type="tel"],[type="time"],[type="week"],[multiple],textarea,select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    border-radius: 0px;
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    --tw-shadow: 0 0 #0000
}

[type="text"]:focus,[type="email"]:focus,[type="url"]:focus,[type="password"]:focus,[type="number"]:focus,[type="date"]:focus,[type="datetime-local"]:focus,[type="month"]:focus,[type="search"]:focus,[type="tel"]:focus,[type="time"]:focus,[type="week"]:focus,[multiple]:focus,textarea:focus,select:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #2563eb;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow);
    border-color: #2563eb
}

input::-moz-placeholder,textarea::-moz-placeholder {
    color: #6b7280;
    opacity: 1
}

input:-ms-input-placeholder,textarea:-ms-input-placeholder {
    color: #6b7280;
    opacity: 1
}

input::placeholder,textarea::placeholder {
    color: #6b7280;
    opacity: 1
}

::-webkit-datetime-edit-fields-wrapper {
    padding: 0
}

::-webkit-date-and-time-value {
    min-height: 1.5em
}

::-webkit-datetime-edit,::-webkit-datetime-edit-year-field,::-webkit-datetime-edit-month-field,::-webkit-datetime-edit-day-field,::-webkit-datetime-edit-hour-field,::-webkit-datetime-edit-minute-field,::-webkit-datetime-edit-second-field,::-webkit-datetime-edit-millisecond-field,::-webkit-datetime-edit-meridiem-field {
    padding-top: 0;
    padding-bottom: 0
}

select {
    background-image: url(data:image/svg+xml,%3csvg\ xmlns=\'http://www.w3.org/2000/svg\'\ fill=\'none\'\ viewBox=\'0\ 0\ 20\ 20\'%3e%3cpath\ stroke=\'%236b7280\'\ stroke-linecap=\'round\'\ stroke-linejoin=\'round\'\ stroke-width=\'1.5\'\ d=\'M6\ 8l4\ 4\ 4-4\'/%3e%3c/svg%3e);
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    padding-right: 2.5rem;
    -webkit-print-print-color-adjust: exact;
    print-color-adjust: exact
}

[multiple] {
    background-image: initial;
    background-position: initial;
    background-repeat: unset;
    background-size: initial;
    padding-right: 0.75rem;
    -webkit-print-print-color-adjust: unset;
    print-color-adjust: unset
}

[type="checkbox"],[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    -webkit-print-print-color-adjust: exact;
    print-color-adjust: exact;
    display: inline-block;
    vertical-align: middle;
    background-origin: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex-shrink: 0;
    height: 1rem;
    width: 1rem;
    color: #2563eb;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    --tw-shadow: 0 0 #0000
}

[type="checkbox"] {
    border-radius: 0px
}

[type="radio"] {
    border-radius: 100%
}

[type="checkbox"]:focus,[type="radio"]:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 2px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #2563eb;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow)
}

[type="checkbox"]:checked,[type="radio"]:checked {
    border-color: transparent;
    background-color: currentColor;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat
}

[type="checkbox"]:checked {
    background-image: url(data:image/svg+xml,%3csvg\ viewBox=\'0\ 0\ 16\ 16\'\ fill=\'white\'\ xmlns=\'http://www.w3.org/2000/svg\'%3e%3cpath\ d=\'M12.207\ 4.793a1\ 1\ 0\ 010\ 1.414l-5\ 5a1\ 1\ 0\ 01-1.414\ 0l-2-2a1\ 1\ 0\ 011.414-1.414L6.5\ 9.086l4.293-4.293a1\ 1\ 0\ 011.414\ 0z\'/%3e%3c/svg%3e)
}

[type="radio"]:checked {
    background-image: url(data:image/svg+xml,%3csvg\ viewBox=\'0\ 0\ 16\ 16\'\ fill=\'white\'\ xmlns=\'http://www.w3.org/2000/svg\'%3e%3ccircle\ cx=\'8\'\ cy=\'8\'\ r=\'3\'/%3e%3c/svg%3e)
}

[type="checkbox"]:checked:hover,[type="checkbox"]:checked:focus,[type="radio"]:checked:hover,[type="radio"]:checked:focus {
    border-color: transparent;
    background-color: currentColor
}

[type="checkbox"]:indeterminate {
    background-image: url(data:image/svg+xml,%3csvg\ xmlns=\'http://www.w3.org/2000/svg\'\ fill=\'none\'\ viewBox=\'0\ 0\ 16\ 16\'%3e%3cpath\ stroke=\'white\'\ stroke-linecap=\'round\'\ stroke-linejoin=\'round\'\ stroke-width=\'2\'\ d=\'M4\ 8h8\'/%3e%3c/svg%3e);
    border-color: transparent;
    background-color: currentColor;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat
}

[type="checkbox"]:indeterminate:hover,[type="checkbox"]:indeterminate:focus {
    border-color: transparent;
    background-color: currentColor
}

[type="file"] {
    background: unset;
    border-color: inherit;
    border-width: 0;
    border-radius: 0;
    padding: 0;
    font-size: unset;
    line-height: inherit
}

[type="file"]:focus {
    outline: 1px auto -webkit-focus-ring-color
}

*,::before,::after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}

::-webkit-backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}

.cu7fl {
    width: 100%
}

@media (min-width: 640px) {
    .cu7fl {
        max-width:640px
    }
}

@media (min-width: 768px) {
    .cu7fl {
        max-width:768px
    }
}

@media (min-width: 1024px) {
    .cu7fl {
        max-width:1024px
    }
}

@media (min-width: 1280px) {
    .cu7fl {
        max-width:1280px
    }
}

@media (min-width: 1536px) {
    .cu7fl {
        max-width:1536px
    }
}

.c7bak {
    font-size: 2.75rem;
    line-height: 1;
    letter-spacing: -0.01em;
    font-weight: 700
}

.caveb {
    font-size: 2.25rem;
    line-height: 1.1;
    letter-spacing: -0.01em;
    font-weight: 700
}

.cwti2 {
    font-size: 1.875rem;
    line-height: 1.333;
    letter-spacing: -0.01em;
    font-weight: 700
}

.cglwy {
    font-size: 1.5rem;
    line-height: 1.415;
    letter-spacing: -0.01em;
    font-weight: 700
}

@media (min-width: 768px) {
    .c7bak {
        font-size:3.25rem;
        line-height: 1;
        letter-spacing: -0.01em
    }

    .caveb {
        font-size: 2.75rem;
        line-height: 1;
        letter-spacing: -0.01em
    }

    .cwti2 {
        font-size: 2.25rem;
        line-height: 1.1;
        letter-spacing: -0.01em
    }
}

.c371n,.cn4p0 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    border-radius: 9999px;
    font-size: 15px;
    font-weight: 550;
    line-height: 1.25rem;
    transition-property: color,background-color,border-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-text-decoration-color,-webkit-backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-text-decoration-color,-webkit-backdrop-filter;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1)
}

.c371n {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem
}

.cn4p0 {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem
}

input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-results-button,input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none
}

.cfjie,.cih9a,.c8er9,.ch4gi,.cerhv,.c55zx {
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(226 232 240/var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity))
}

.cfjie:focus,.cih9a:focus,.c8er9:focus,.ch4gi:focus,.cerhv:focus,.c55zx:focus {
    --tw-border-opacity: 1;
    border-color: rgb(59 130 246/var(--tw-border-opacity))
}

.cfjie,.cih9a,.c8er9,.ch4gi,.cerhv {
    border-radius: 0.25rem
}

.cfjie,.cih9a,.c8er9,.ch4gi {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5715
}

.cfjie::-moz-placeholder,.cih9a::-moz-placeholder {
    --tw-placeholder-opacity: 1;
    color: rgb(148 163 184/var(--tw-placeholder-opacity))
}

.cfjie:-ms-input-placeholder,.cih9a:-ms-input-placeholder {
    --tw-placeholder-opacity: 1;
    color: rgb(148 163 184/var(--tw-placeholder-opacity))
}

.cfjie::placeholder,.cih9a::placeholder {
    --tw-placeholder-opacity: 1;
    color: rgb(148 163 184/var(--tw-placeholder-opacity))
}

.ch4gi {
    padding-right: 2.5rem
}

.cerhv,.c55zx {
    border-radius: 0.125rem;
    border-width: 2px;
    --tw-text-opacity: 1;
    color: rgb(59 130 246/var(--tw-text-opacity))
}

.cw7nx::-webkit-scrollbar {
    display: none
}

.cw7nx {
    -ms-overflow-style: none;
    scrollbar-width: none
}

:root {
    --range-thumb-size: 36px
}

input[type=range] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #ccc;
    border-radius: 3px;
    height: 6px;
    margin-top: (--range-thumb-size - 6px)*0.5;
    margin-bottom: (--range-thumb-size - 6px)*0.5;
    --thumb-size: # {
        --range-thumb-size
    }
}

input[type=range]::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    background-color: #000;
    background-image: url(data:image/svg+xml,%3Csvg\ width=\'12\'\ height=\'8\'\ xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath\ d=\'M8\ .5v7L12\ 4zM0\ 4l4\ 3.5v-7z\'\ fill=\'%23FFF\'\ fill-rule=\'nonzero\'/%3E%3C/svg%3E);
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    height: --range-thumb-size;
    width: --range-thumb-size
}

input[type=range]::-moz-range-thumb {
    background-color: #000;
    background-image: url(data:image/svg+xml,%3Csvg\ width=\'12\'\ height=\'8\'\ xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath\ d=\'M8\ .5v7L12\ 4zM0\ 4l4\ 3.5v-7z\'\ fill=\'%23FFF\'\ fill-rule=\'nonzero\'/%3E%3C/svg%3E);
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: --range-thumb-size;
    width: --range-thumb-size
}

input[type=range]::-ms-thumb {
    background-color: #000;
    background-image: url(data:image/svg+xml,%3Csvg\ width=\'12\'\ height=\'8\'\ xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath\ d=\'M8\ .5v7L12\ 4zM0\ 4l4\ 3.5v-7z\'\ fill=\'%23FFF\'\ fill-rule=\'nonzero\'/%3E%3C/svg%3E);
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    height: --range-thumb-size;
    width: --range-thumb-size
}

input[type=range]::-moz-focus-outer {
    border: 0
}

.cvb42 {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 44px
}

.cvb42 label {
    display: block;
    height: 1.5rem;
    cursor: pointer;
    overflow: hidden;
    border-radius: 9999px
}

.cvb42 label>span:first-child {
    position: absolute;
    display: block;
    border-radius: 9999px;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
    right: 50%;
    transition: all .15s ease-out
}

.cvb42 input[type="checkbox"]:checked+label {
    --tw-bg-opacity: 1;
    background-color: rgb(59 130 246/var(--tw-bg-opacity))
}

.cvb42 input[type="checkbox"]:checked+label>span:first-child {
    left: 22px
}

.cvb42 input[type="checkbox"]:disabled+label {
    cursor: not-allowed;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(226 232 240/var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(241 245 249/var(--tw-bg-opacity))
}

.cvb42 input[type="checkbox"]:disabled+label>span:first-child {
    --tw-bg-opacity: 1;
    background-color: rgb(148 163 184/var(--tw-bg-opacity))
}

.cfjie:focus:focus,.cih9a:focus:focus,.c8er9:focus:focus,.ch4gi:focus:focus,.cerhv:focus:focus,.c55zx:focus:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow, 0 0 #0000);
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(191 219 254 / var(--tw-ring-opacity))
}

.cerhv:focus:focus,.c55zx:focus:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow, 0 0 #0000)
}

.cffrl svg>*:nth-child(1),.cffrl svg>*:nth-child(2),.cffrl svg>*:nth-child(3) {
    transform-origin: center;
    transform: rotate(0deg)
}

.cffrl svg>*:nth-child(1) {
    transition: y 0.1s 0.25s ease-in,transform 0.22s cubic-bezier(0.55,0.055,0.675,0.19),opacity 0.1s ease-in
}

.cffrl svg>*:nth-child(2) {
    transition: transform 0.22s cubic-bezier(0.55,0.055,0.675,0.19)
}

.cffrl svg>*:nth-child(3) {
    transition: y 0.1s 0.25s ease-in,transform 0.22s cubic-bezier(0.55,0.055,0.675,0.19),width 0.1s 0.25s ease-in
}

.cffrl.cxwhs svg>*:nth-child(1) {
    opacity: 0;
    y: 11;
    transform: rotate(225deg);
    transition: y 0.1s ease-out,transform 0.22s 0.12s cubic-bezier(0.215,0.61,0.355,1),opacity 0.1s 0.12s ease-out
}

.cffrl.cxwhs svg>*:nth-child(2) {
    transform: rotate(225deg);
    transition: transform 0.22s 0.12s cubic-bezier(0.215,0.61,0.355,1)
}

.cffrl.cxwhs svg>*:nth-child(3) {
    y: 11;
    transform: rotate(135deg);
    transition: y 0.1s ease-out,transform 0.22s 0.12s cubic-bezier(0.215,0.61,0.355,1),width 0.1s ease-out
}

@media screen {
    html:not(.cxfvk) [data-aos=fade-up] {
        transform: translate3d(0,16px,0)
    }

    html:not(.cxfvk) [data-aos=fade-down] {
        transform: translate3d(0,-16px,0)
    }

    html:not(.cxfvk) [data-aos=fade-right] {
        transform: translate3d(-16px,0,0)
    }

    html:not(.cxfvk) [data-aos=fade-left] {
        transform: translate3d(16px,0,0)
    }

    html:not(.cxfvk) [data-aos=fade-up-right] {
        transform: translate3d(-16px,16px,0)
    }

    html:not(.cxfvk) [data-aos=fade-up-left] {
        transform: translate3d(16px,16px,0)
    }

    html:not(.cxfvk) [data-aos=fade-down-right] {
        transform: translate3d(-16px,-16px,0)
    }

    html:not(.cxfvk) [data-aos=fade-down-left] {
        transform: translate3d(16px,-16px,0)
    }

    html:not(.cxfvk) [data-aos=zoom-in-up] {
        transform: translate3d(0,16px,0) scale(.6)
    }

    html:not(.cxfvk) [data-aos=zoom-in-down] {
        transform: translate3d(0,-16px,0) scale(.6)
    }

    html:not(.cxfvk) [data-aos=zoom-in-right] {
        transform: translate3d(-16px,0,0) scale(.6)
    }

    html:not(.cxfvk) [data-aos=zoom-in-left] {
        transform: translate3d(16px,0,0) scale(.6)
    }

    html:not(.cxfvk) [data-aos=zoom-out-up] {
        transform: translate3d(0,16px,0) scale(1.2)
    }

    html:not(.cxfvk) [data-aos=zoom-out-down] {
        transform: translate3d(0,-16px,0) scale(1.2)
    }

    html:not(.cxfvk) [data-aos=zoom-out-right] {
        transform: translate3d(-16px,0,0) scale(1.2)
    }

    html:not(.cxfvk) [data-aos=zoom-out-left] {
        transform: translate3d(16px,0,0) scale(1.2)
    }
}

.swiper-pagination-bullet {
    --tw-bg-opacity: 1;
    background-color: rgb(203 213 225/var(--tw-bg-opacity));
    opacity: 1
}

.swiper-pagination-bullet-active {
    --tw-bg-opacity: 1;
    background-color: rgb(59 130 246/var(--tw-bg-opacity))
}

.c1i07 {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0
}

.cistn {
    pointer-events: none
}

.ciqxm {
    visibility: visible
}

.cvap9 {
    position: static
}

.ci2gj {
    position: fixed
}

.cx5bd {
    position: absolute
}

.cyhno {
    position: relative
}

.cnr55 {
    position: -webkit-sticky;
    position: sticky
}

.ctehq {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px
}

.c08f2 {
    top: 50%
}

.cfhlr {
    left: 50%
}

.c9xt3 {
    bottom: 100%
}

.c3kvd {
    top: 0px
}

.cg3n4 {
    right: 0px
}

.c66ts {
    bottom: 0px
}

.cg3cv {
    left: 0px
}

.csam5 {
    z-index: 30
}

.cakxp {
    z-index: -10
}

.c6l03 {
    z-index: 10
}

.cc2i9 {
    margin: -1rem
}

.cw6m9 {
    margin: 0px
}

.cdcfy {
    margin-left: auto;
    margin-right: auto
}

.c88x7 {
    margin-left: -1rem;
    margin-right: -1rem
}

.cb059 {
    margin-left: -4rem;
    margin-right: -4rem
}

.cy4vq {
    margin-left: -2rem;
    margin-right: -2rem
}

.ckk9u {
    margin-left: -3.5rem;
    margin-right: -3.5rem
}

.c1i3j {
    margin-left: 0.5rem;
    margin-right: 0.5rem
}

.cpmys {
    margin-right: 1rem
}

.ch97d {
    margin-bottom: 4rem
}

.ceonn {
    margin-bottom: 2rem
}

.c8glp {
    margin-bottom: 3rem
}

.cqma5 {
    margin-right: 0.75rem
}

.c755p {
    margin-bottom: 1.25rem
}

.cf5et {
    margin-bottom: 11rem
}

.cr579 {
    margin-top: -10rem
}

.czw6c {
    margin-left: 5rem
}

.cc9lh {
    margin-top: 0.625rem
}

.cw7u7 {
    margin-bottom: 0.375rem
}

.cfh09 {
    margin-top: 0.5rem
}

.czli9 {
    margin-bottom: 0.25rem
}

.c6n45 {
    margin-top: 1.5rem
}

.cy5mp {
    margin-left: 0.75rem
}

.ckf0b {
    margin-left: 0.5rem
}

.coou2 {
    margin-bottom: 7rem
}

.c1ig3 {
    margin-bottom: 1.5rem
}

.c9wuj {
    margin-bottom: -3rem
}

.cmlc2 {
    margin-left: -0.75rem
}

.c29tm {
    margin-right: -6rem
}

.c4elr {
    margin-top: 4rem
}

.czmmv {
    margin-bottom: 0.75rem
}

.c5wvp {
    margin-bottom: 6rem
}

.cet3m {
    margin-bottom: 1rem
}

.c8r7v {
    margin-top: 2rem
}

.ca769 {
    margin-top: 3rem
}

.cnoox {
    margin-left: auto
}

.clfmb {
    margin-bottom: 2.5rem
}

.cjt9n {
    margin-top: -3.5rem
}

.c9168 {
    margin-top: 1rem
}

.cusyb {
    margin-top: 0.375rem
}

.cwqi3 {
    margin-top: 0.25rem
}

.ct7fp {
    margin-right: 1.5rem
}

.c7bq3 {
    margin-left: 1rem
}

.c85cv {
    margin-right: 0.5rem
}

.cec4h {
    margin-left: 0.625rem
}

.c8m9w {
    margin-top: 0px
}

.c4ozt {
    display: block
}

.cxspw {
    display: inline
}

.c29n1 {
    display: flex
}

.c98p9 {
    display: inline-flex
}

.c9k8v {
    display: table
}

.cavbd {
    display: grid
}

.hidden {
    display: none
}

.cx10f {
    height: 4rem
}

.cj1fh {
    height: 2.75rem
}

.c2kmw {
    height: auto
}

.cefn9 {
    height: 100%
}

.cjcqp {
    height: 0.75rem
}

.cashm {
    height: 100vh
}

.c3ndj {
    height: 1.5rem
}

.ck48l {
    height: 6rem
}

.cfi8v {
    min-height: 100vh
}

.cjkjb {
    width: 100%
}

.cn3on {
    width: 512px
}

.ch7hw {
    width: 2.75rem
}

.c2hn4 {
    width: 0.75rem
}

.c93rp {
    width: 16rem
}

.cmn5m {
    width: 1.5rem
}

.ckm98 {
    min-width: 0px
}

.cl9ye {
    max-width: 72rem
}

.cb320 {
    max-width: 100%
}

.cs15f {
    max-width: none
}

.cbo7w {
    max-width: 480px
}

.c4pup {
    max-width: 36rem
}

.cw6hw {
    max-width: 20rem
}

.ctp1d {
    max-width: 24rem
}

.cqx6l {
    max-width: 80rem
}

.chwvs {
    max-width: 28rem
}

.cd59w {
    max-width: 56rem
}

.ce0su {
    flex-shrink: 0
}

.c7e8i {
    flex-grow: 1
}

.cleik {
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.c89jy {
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cmrv0 {
    --tw-translate-y: 50%;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.csxoz {
    --tw-translate-x: -100%;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.crnoj {
    --tw-translate-x: 0px;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cs6j5 {
    --tw-rotate: 90deg;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cxs2z {
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cih11 {
    resize: both
}

.cyejj {
    grid-template-columns: repeat(1,minmax(0,1fr))
}

.c7vwr {
    grid-template-columns: repeat(2,minmax(0,1fr))
}

.cklpe {
    flex-direction: column
}

.cjsl1 {
    flex-wrap: wrap
}

.c3d4t {
    flex-wrap: nowrap
}

.cdjl1 {
    align-items: flex-start
}

.c38qt {
    align-items: center
}

.c17z2 {
    justify-content: flex-end
}

.cxwmo {
    justify-content: center
}

.crjhh {
    justify-content: space-between
}

.c8m8v {
    gap: 3rem
}

.caln0 {
    gap: 2rem
}

.cfa2c {
    gap: 1.5rem
}

.czlr6>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.625rem*calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.625rem*var(--tw-space-y-reverse))
}

.cjbs3>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.5rem*calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.5rem*var(--tw-space-y-reverse))
}

.cf5tr>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1rem*calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1rem*var(--tw-space-y-reverse))
}

.cojul>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(2rem*calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(2rem*var(--tw-space-y-reverse))
}

.c4kqu>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.75rem*calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.75rem*var(--tw-space-y-reverse))
}

.cot8t>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem*calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem*var(--tw-space-y-reverse))
}

.c3f8s>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1.5rem*var(--tw-space-x-reverse));
    margin-left: calc(1.5rem*calc(1 - var(--tw-space-x-reverse)))
}

.cej11>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.5rem*var(--tw-space-x-reverse));
    margin-left: calc(0.5rem*calc(1 - var(--tw-space-x-reverse)))
}

.ct1ya>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1rem*var(--tw-space-x-reverse));
    margin-left: calc(1rem*calc(1 - var(--tw-space-x-reverse)))
}

.ccd9l>:not([hidden])~:not([hidden]) {
    --tw-divide-y-reverse: 0;
    border-top-width: calc(1px*calc(1 - var(--tw-divide-y-reverse)));
    border-bottom-width: calc(1px*var(--tw-divide-y-reverse))
}

.cmqid {
    align-self: flex-start
}

.co3fs {
    overflow: hidden
}

.c7dmf {
    overflow-y: auto
}

.ctt5v {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.cvmdr {
    white-space: nowrap
}

.c58pn {
    border-radius: 9999px
}

.crs2d {
    border-radius: 0.5rem
}

.cxhws {
    border-radius: 0.375rem
}

.cjc9o {
    border-radius: 0.25rem
}

.chf8c {
    border-bottom-left-radius: 100px
}

.clmcm {
    border-top-right-radius: 100px
}

.cmgtd {
    border-top-left-radius: 100px
}

.cetq8 {
    border-bottom-right-radius: 100px
}

.cicv8 {
    border-width: 2px
}

.ck8sc {
    border-width: 0px
}

.ce1n8 {
    border-top-width: 1px
}

.ccpnq {
    border-bottom-width: 1px
}

.c5zqr {
    border-right-width: 1px
}

.c9goj {
    border-bottom-width: 2px
}

.ck275 {
    --tw-border-opacity: 1;
    border-color: rgb(241 245 249/var(--tw-border-opacity))
}

.c0eux {
    --tw-border-opacity: 1;
    border-color: rgb(51 65 85/var(--tw-border-opacity))
}

.c8g1c {
    --tw-border-opacity: 1;
    border-color: rgb(226 232 240/var(--tw-border-opacity))
}

.chof3 {
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219/var(--tw-border-opacity))
}

.cc9tp {
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235/var(--tw-border-opacity))
}

.clkit {
    border-color: transparent
}

.c36be {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity))
}

.ckk70 {
    --tw-bg-opacity: 1;
    background-color: rgb(59 130 246/var(--tw-bg-opacity))
}

.cbnx3 {
    --tw-bg-opacity: 1;
    background-color: rgb(30 41 59/var(--tw-bg-opacity))
}

.cz523 {
    --tw-bg-opacity: 1;
    background-color: rgb(153 246 228/var(--tw-bg-opacity))
}

.c45uh {
    --tw-bg-opacity: 1;
    background-color: rgb(241 245 249/var(--tw-bg-opacity))
}

.cja2p {
    --tw-bg-opacity: 1;
    background-color: rgb(20 184 166/var(--tw-bg-opacity))
}

.cg0z9 {
    --tw-bg-opacity: 1;
    background-color: rgb(51 65 85/var(--tw-bg-opacity))
}

.c6t26 {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246/var(--tw-bg-opacity))
}

.cupjb {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235/var(--tw-bg-opacity))
}

.cg3px {
    --tw-bg-opacity: 0.75
}

.ch1vk {
    background-image: linear-gradient(to top right,var(--tw-gradient-stops))
}

.cre2j {
    background-image: linear-gradient(to bottom,var(--tw-gradient-stops))
}

.cbn5t {
    background-image: linear-gradient(to top,var(--tw-gradient-stops))
}

.c5aqy {
    --tw-gradient-from: #2563eb;
    --tw-gradient-to: rgb(37 99 235 / 0);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.cogk8 {
    --tw-gradient-from: #60a5fa;
    --tw-gradient-to: rgb(96 165 250 / 0);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.cfl7l {
    --tw-gradient-from: #f1f5f9;
    --tw-gradient-to: rgb(241 245 249 / 0);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.ctqp5 {
    --tw-gradient-from: #fff;
    --tw-gradient-to: rgb(255 255 255 / 0);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.ch6lg {
    --tw-gradient-from: #1e293b;
    --tw-gradient-to: rgb(30 41 59 / 0);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.cpooh {
    --tw-gradient-from: #dbeafe;
    --tw-gradient-to: rgb(219 234 254 / 0);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.c43am {
    --tw-gradient-to: #3b82f6
}

.cv6xk {
    --tw-gradient-to: #334155
}

.c8ogj {
    --tw-gradient-to: #eff6ff
}

.ci3vc {
    fill: #3b82f6
}

.coow8 {
    fill: #7dd3fc
}

.c5gfx {
    fill: #dbeafe
}

.cypkd {
    fill: #eff6ff
}

.cf9f3 {
    fill: currentColor
}

.cehf5 {
    fill: #94a3b8
}

.cpkln {
    fill: #475569
}

.crnl3 {
    fill: #93c5fd
}

.cbihh {
    padding: 1rem
}

.c5att {
    padding: 1.5rem
}

.ce0pg {
    padding: 0.25rem
}

.chlof {
    padding-left: 1rem;
    padding-right: 1rem
}

.cmxc3 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem
}

.cdioo {
    padding-top: 3rem;
    padding-bottom: 3rem
}

.cp6k2 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem
}

.csckw {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

.cq9rt {
    padding-left: 0.75rem;
    padding-right: 0.75rem
}

.cl8ol {
    padding-top: 1px;
    padding-bottom: 1px
}

.c8seb {
    padding-top: 2rem;
    padding-bottom: 2rem
}

.chuzn {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem
}

.ccqdl {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem
}

.chb31 {
    padding-left: 0.125rem;
    padding-right: 0.125rem
}

.c0bl7 {
    padding-left: 0px;
    padding-right: 0px
}

.cmprh {
    padding-top: 9rem
}

.czcbq {
    padding-bottom: 3rem
}

.c4i6y {
    padding-top: 3rem
}

.cpu0s {
    padding-bottom: 1.5rem
}

.ce3ga {
    padding-top: 3.5rem
}

.cyvm8 {
    padding-bottom: 1rem
}

.c0bpf {
    padding-top: 7rem
}

.cepwm {
    padding-left: 1.5rem
}

.ch75m {
    padding-top: 2rem
}

.cjmb3 {
    text-align: left
}

.clpz0 {
    text-align: center
}

.cf1hj {
    text-align: right
}

.csyyo {
    font-family: Aspekta,sans-serif
}

.cwyp8 {
    font-size: 0.75rem;
    line-height: 1.5
}

.c62tk {
    font-size: 0.875rem;
    line-height: 1.5715
}

.c6xyh {
    font-size: 1.125rem;
    line-height: 1.5;
    letter-spacing: -0.01em
}

.c1dgw {
    font-size: 1.25rem;
    line-height: 1.5;
    letter-spacing: -0.01em
}

.cfd1k {
    font-size: 1.5rem;
    line-height: 1.415;
    letter-spacing: -0.01em
}

.coqb5 {
    font-size: 2.25rem;
    line-height: 1.1;
    letter-spacing: -0.01em
}

.cnxvz {
    font-weight: 350
}

.c50dd {
    font-weight: 550
}

.cdxpy {
    font-weight: 700
}

.cj88f {
    font-weight: 500
}

.c1cp2 {
    font-weight: 450
}

.cff69 {
    text-transform: uppercase
}

.cq72s {
    line-height: 1.25rem
}

.c6nbq {
    letter-spacing: 0.02em
}

.c514c {
    letter-spacing: 0
}

.c65xn {
    --tw-text-opacity: 1;
    color: rgb(30 41 59/var(--tw-text-opacity))
}

.c3z20 {
    --tw-text-opacity: 1;
    color: rgb(100 116 139/var(--tw-text-opacity))
}

.cwiv0 {
    --tw-text-opacity: 1;
    color: rgb(148 163 184/var(--tw-text-opacity))
}

.cyuce {
    --tw-text-opacity: 1;
    color: rgb(239 246 255/var(--tw-text-opacity))
}

.c9gu4 {
    --tw-text-opacity: 1;
    color: rgb(241 245 249/var(--tw-text-opacity))
}

.ccbbk {
    --tw-text-opacity: 1;
    color: rgb(56 189 248/var(--tw-text-opacity))
}

.c4nhw {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.cxobv {
    --tw-text-opacity: 1;
    color: rgb(191 219 254/var(--tw-text-opacity))
}

.cwkqb {
    --tw-text-opacity: 1;
    color: rgb(125 211 252/var(--tw-text-opacity))
}

.ca4kr {
    --tw-text-opacity: 1;
    color: rgb(13 148 136/var(--tw-text-opacity))
}

.cr1bb {
    --tw-text-opacity: 1;
    color: rgb(226 232 240/var(--tw-text-opacity))
}

.ct2sv {
    --tw-text-opacity: 1;
    color: rgb(20 184 166/var(--tw-text-opacity))
}

.c29au {
    --tw-text-opacity: 1;
    color: rgb(59 130 246/var(--tw-text-opacity))
}

.c9ox1 {
    --tw-text-opacity: 1;
    color: rgb(71 85 105/var(--tw-text-opacity))
}

.ctp7n {
    --tw-text-opacity: 1;
    color: rgb(17 24 39/var(--tw-text-opacity))
}

.co2m9 {
    --tw-text-opacity: 1;
    color: rgb(75 85 99/var(--tw-text-opacity))
}

.c7r6a {
    --tw-text-opacity: 1;
    color: rgb(55 65 81/var(--tw-text-opacity))
}

.ciepz {
    --tw-text-opacity: 1;
    color: rgb(79 70 229/var(--tw-text-opacity))
}

.cqi40 {
    --tw-text-opacity: 1;
    color: rgb(0 0 0/var(--tw-text-opacity))
}

.ct41p {
    --tw-text-opacity: 1;
    color: rgb(107 114 128/var(--tw-text-opacity))
}

.cdpzr {
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline
}

.c72sf {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.cz0en {
    opacity: 0
}

.cs0lx {
    opacity: 1
}

.cb6o0 {
    mix-blend-mode: lighten
}

.cbjbi {
    --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

.co504 {
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

.c7684 {
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

.c0uyb {
    --tw-blur: blur(8px);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.cztrx {
    --tw-invert: invert(100%);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.cee8o {
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.cq3sh {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
    transition-duration: 150ms
}

.c9pj3 {
    transition-property: color,background-color,border-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-text-decoration-color,-webkit-backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-text-decoration-color,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
    transition-duration: 150ms
}

.czm0v {
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
    transition-duration: 150ms
}

.cgdcn {
    transition-duration: 150ms
}

.cljzm {
    transition-duration: 200ms
}

.c7r5m {
    transition-duration: 100ms
}

.cw78b {
    transition-timing-function: cubic-bezier(0.4,0,0.2,1)
}

.chxs6 {
    transition-timing-function: cubic-bezier(0,0,0.2,1)
}

.c82wh {
    direction: rtl
}

[x-cloak=""] {
    display: none
}

.c4sti::before {
    content: var(--tw-content);
    position: absolute
}

.cpi22::before {
    content: var(--tw-content);
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px
}

.cmjy8::before {
    content: var(--tw-content);
    z-index: -10
}

.ctopb::before {
    content: var(--tw-content);
    border-radius: 9999px
}

.c2c8i::before {
    content: var(--tw-content);
    --tw-bg-opacity: 1;
    background-color: rgb(96 165 250/var(--tw-bg-opacity))
}

.ctsgt::before {
    content: var(--tw-content);
    --tw-bg-opacity: 0.6
}

.cbt0x::after {
    content: var(--tw-content);
    position: absolute
}

.cvr1a::after {
    content: var(--tw-content);
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px
}

.c233e::after {
    content: var(--tw-content);
    right: 0px
}

.cybhr::after {
    content: var(--tw-content);
    top: 50%
}

.c00pl::after {
    content: var(--tw-content);
    display: none
}

.ckl5k::after {
    content: var(--tw-content);
    height: 4rem
}

.cyg2f::after {
    content: var(--tw-content);
    width: 1px
}

.cx9ia::after {
    content: var(--tw-content);
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cxcsr::after {
    content: var(--tw-content);
    --tw-bg-opacity: 1;
    background-color: rgb(226 232 240/var(--tw-bg-opacity))
}

.c6gay::after {
    content: var(--tw-content);
    --tw-bg-opacity: 1;
    background-color: rgb(96 165 250/var(--tw-bg-opacity))
}

.c7lpr::after {
    content: var(--tw-content);
    background-image: linear-gradient(to top,var(--tw-gradient-stops))
}

.cx7ae::after {
    content: var(--tw-content);
    --tw-gradient-from: #334155;
    --tw-gradient-to: rgb(51 65 85 / 0);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.c3f4j:last-child::after {
    content: var(--tw-content);
    display: none
}

.cv52j:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(37 99 235/var(--tw-bg-opacity))
}

.cv4t9:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(15 23 42/var(--tw-bg-opacity))
}

.cwa1c:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(59 130 246/var(--tw-bg-opacity))
}

.cdqaz:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(30 41 59/var(--tw-bg-opacity))
}

.c9chn:hover {
    --tw-text-opacity: 1;
    color: rgb(59 130 246/var(--tw-text-opacity))
}

.cc6qy:hover {
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline
}

.ckkwa:focus {
    --tw-border-opacity: 1;
    border-color: rgb(165 180 252/var(--tw-border-opacity))
}

.cjpn7:focus {
    --tw-border-opacity: 1;
    border-color: rgb(0 0 0/var(--tw-border-opacity))
}

.c6jrj:focus {
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219/var(--tw-border-opacity))
}

.c745o:focus {
    --tw-border-opacity: 1;
    border-color: rgb(107 114 128/var(--tw-border-opacity))
}

.c9lzc:focus {
    border-color: transparent
}

.cwcwx:focus {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity))
}

.cc6zb:focus {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235/var(--tw-bg-opacity))
}

.cf997:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow, 0 0 #0000)
}

.c3r2x:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow, 0 0 #0000)
}

.cjju9:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow, 0 0 #0000)
}

.c212e:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(199 210 254 / var(--tw-ring-opacity))
}

.c0tzf:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(0 0 0 / var(--tw-ring-opacity))
}

.c7ko5:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(107 114 128 / var(--tw-ring-opacity))
}

.cnlkk:focus {
    --tw-ring-opacity: 0.5
}

.cdee5:focus {
    --tw-ring-offset-width: 0px
}

.c8bzf:focus {
    --tw-ring-offset-width: 2px
}

.ck31x:hover .cddud {
    --tw-translate-x: 0.125rem;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.ck31x:hover .c0857 {
    --tw-translate-x: 0px;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

@media (min-width: 640px) {
    .cgxv8 {
        grid-column:span 12/span 12
    }

    .c58a0 {
        grid-column: span 6/span 6
    }

    .cjqzn {
        margin-left: -1.5rem;
        margin-right: -1.5rem
    }

    .cusnp {
        margin-bottom: 0px
    }

    .c5mm2 {
        display: flex
    }

    .c1dbb {
        width: 18rem
    }

    .c0czj {
        max-width: none
    }

    .cwm88 {
        -moz-columns: 2;
        columns: 2
    }

    .cfmkg {
        grid-template-columns: repeat(12,minmax(0,1fr))
    }

    .c3jio {
        flex-direction: column
    }

    .c21hj {
        justify-content: center
    }

    .c896x>:not([hidden])~:not([hidden]) {
        --tw-space-x-reverse: 0;
        margin-right: calc(1rem*var(--tw-space-x-reverse));
        margin-left: calc(1rem*calc(1 - var(--tw-space-x-reverse)))
    }

    .cgkx4>:not([hidden])~:not([hidden]) {
        --tw-space-y-reverse: 0;
        margin-top: calc(0px*calc(1 - var(--tw-space-y-reverse)));
        margin-bottom: calc(0px*var(--tw-space-y-reverse))
    }

    .cc8xx {
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }
}

@media (min-width: 768px) {
    .c2zer {
        position:absolute
    }

    .c8hvl {
        left: 600px
    }

    .czk18 {
        top: 0px
    }

    .c31fn {
        left: 412px
    }

    .c39ok {
        left: auto
    }

    .cduyv {
        order: 1
    }

    .clnng {
        grid-column: span 3/span 3
    }

    .ctp3x {
        margin-left: 0px;
        margin-right: 0px
    }

    .c8hv1 {
        margin-left: -2.25rem;
        margin-right: -2.25rem
    }

    .c5llv {
        margin-bottom: 0px
    }

    .czzq5 {
        margin-top: -3rem
    }

    .cogs9 {
        margin-top: 0px
    }

    .c3t5c {
        margin-top: 9rem
    }

    .c2wd7 {
        margin-top: 5rem
    }

    .c60si {
        margin-right: 2rem
    }

    .c1qfu {
        margin-left: 2rem
    }

    .c7ior {
        margin-bottom: 5rem
    }

    .cgj3a {
        display: block
    }

    .c6x2h {
        display: block!important
    }

    .c7stu {
        display: flex
    }

    .c8t5s {
        display: none
    }

    .coh5t {
        height: 5rem
    }

    .c13k6 {
        width: 600px
    }

    .cndcn {
        width: 50%
    }

    .cwihz {
        max-width: none
    }

    .cuybb {
        max-width: 32rem
    }

    .cyy6b {
        max-width: 48rem
    }

    .c28ca {
        max-width: 42rem
    }

    .cghvv {
        max-width: 56rem
    }

    .c3dhb {
        flex-shrink: 0
    }

    .cca49 {
        flex-grow: 1
    }

    .cr5pc {
        --tw-rotate: 48deg;
        transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }

    .cn8aa {
        grid-template-columns: repeat(3,minmax(0,1fr))
    }

    .c7jik {
        grid-template-columns: repeat(2,minmax(0,1fr))
    }

    .cwegj {
        flex-direction: row
    }

    .ckig3 {
        justify-content: flex-start
    }

    .ch73a {
        justify-content: space-between
    }

    .cf5q4 {
        gap: 0px
    }

    .cr0lc>:not([hidden])~:not([hidden]) {
        --tw-space-x-reverse: 0;
        margin-right: calc(3rem*var(--tw-space-x-reverse));
        margin-left: calc(3rem*calc(1 - var(--tw-space-x-reverse)))
    }

    .c2b9c>:not([hidden])~:not([hidden]) {
        --tw-space-y-reverse: 0;
        margin-top: calc(0px*calc(1 - var(--tw-space-y-reverse)));
        margin-bottom: calc(0px*var(--tw-space-y-reverse))
    }

    .c2jdh {
        padding-top: 7rem;
        padding-bottom: 7rem
    }

    .cn4rc {
        padding-left: 2.25rem;
        padding-right: 2.25rem
    }

    .c55v2 {
        padding-top: 5rem;
        padding-bottom: 5rem
    }

    .c823v {
        padding-top: 10rem
    }

    .c6lgd {
        padding-bottom: 5rem
    }

    .cip9c {
        padding-top: 5rem
    }

    .ce763 {
        padding-bottom: 2rem
    }

    .cy4fj {
        padding-right: 2rem
    }

    .c58n3 {
        padding-top: 9rem
    }

    .c88ol {
        padding-bottom: 4rem
    }

    .cfnae {
        padding-left: 21rem
    }

    .cqmiq {
        text-align: left
    }

    .cv91m {
        opacity: 1!important
    }

    .ci2ql::after {
        content: var(--tw-content);
        display: block
    }
}

@media (min-width: 1024px) {
    .c8s3r {
        grid-column:span 2/span 2
    }

    .c919v {
        margin: -0.5rem
    }

    .cqqyw {
        margin-left: 0px;
        margin-right: 0px
    }

    .cwe4v {
        margin-top: 4rem
    }

    .cfe0z {
        margin-bottom: 0px
    }

    .ckk3f {
        margin-top: -9999px
    }

    .catjv {
        margin-left: 0px
    }

    .c0jii {
        margin-right: -9999px
    }

    .cpct6 {
        margin-right: 4rem
    }

    .cu831 {
        display: flex
    }

    .cy215 {
        width: 480px
    }

    .c7e3v {
        max-width: none
    }

    .cz4nm {
        max-width: 20rem
    }

    .cjqk8 {
        grid-template-columns: repeat(10,minmax(0,1fr))
    }

    .cxwkc {
        flex-direction: row
    }

    .cf5hq {
        justify-content: flex-start
    }

    .cf4lx>:not([hidden])~:not([hidden]) {
        --tw-space-x-reverse: 0;
        margin-right: calc(3rem*var(--tw-space-x-reverse));
        margin-left: calc(3rem*calc(1 - var(--tw-space-x-reverse)))
    }

    .cu4gs {
        padding: 0.5rem
    }

    .c2xto {
        padding-top: 0px
    }

    .c9ob8 {
        padding-left: 3rem
    }

    .c226t {
        text-align: left
    }
}

@media (min-width: 1280px) {
    .c0b1p {
        margin:-1rem
    }

    .c84ry {
        width: 512px
    }

    .cvs2y {
        width: 20rem
    }

    .c36ao {
        max-width: none
    }

    .ckbz9 {
        grid-template-columns: repeat(4,minmax(0,1fr))
    }

    .cf6rh {
        gap: 1.5rem
    }

    .ca0tr>:not([hidden])~:not([hidden]) {
        --tw-space-x-reverse: 0;
        margin-right: calc(4rem*var(--tw-space-x-reverse));
        margin-left: calc(4rem*calc(1 - var(--tw-space-x-reverse)))
    }

    .clzlu {
        padding: 1rem
    }

    .cdc85 {
        padding-left: 5rem
    }
}
